### Linear Regression with Normal Equation

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [24]:
df = pd.read_csv('advertising.csv')
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [25]:
m = len(df.axes[0])
n = len(df.axes[1])
x_0 = np.ones((m, 1))
x = np.concatenate((x_0, df.drop('Sales', axis=1).to_numpy()), axis = 1)
y = df['Sales'].to_numpy()

In [26]:
# Normal Equation
def normal_equation(x, y, n, m):
    x_t = x.transpose()
    x_t_dot_x = np.dot(x_t, x)
    x_t_dot_x_inv = np.linalg.inv(x_t_dot_x)
    res_x_t = np.dot(x_t_dot_x_inv, x_t)
    theta = np.dot(res_x_t, y)
    return theta

In [27]:
# Hypothesis
def hypothesis(theta, x):
    return np.dot(theta, x)

In [28]:
theta = normal_equation(x, y, n, m)
print(theta)

[4.64165159e+00 5.42401566e-02 1.07626650e-01 5.92188450e-04]

In [29]:
# Testing Data1: 232.1,8.6,8.7,18.4
# Testing Data2: 11.7,36.9,45.2,7.3
test_x_1 = [1,232.1,8.6,8.7]
test_x_2 = [1,11.7,36.9,45.2]
print("Model's ans: ", hypothesis(theta, test_x_1), " Correct ans: 18.4")
print("Model's ans: ", hypothesis(theta, test_x_2), " Correct ans: 7.3")

Model's ans:  18.161533168013445  Correct ans: 18.4
Model's ans:  9.274451714626162  Correct ans: 7.3